BODY {
    background: rgb(102, 94, 94);
    color: #DDDDDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  #grid TR TD{
    border: 3px solid rgba(219, 88, 88, 0.5);
    background: #504848;
    width: 20px;
    height: 20px;
    text-align: center;
    background-clip: padding-box;
    
  }
  
  #grid TR TD:hover{
    cursor: pointer;
  }
  
  h1 {
    background-color: black;
  }
#grid{
  grid: initial;
}
  #grid TR TD.hidden {
   opacity: 0;
  }

  .container {
    display: inline-grid;
    
    background-color: #3e2723;
    padding: 10px;
    border-radius: 10px;
  }